In [29]:
# Read csv
import pandas as pd

dataset = pd.read_csv('pima-indians-diabetes.csv', header = None)

In [21]:
dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [22]:
# Know the basic of the dataset
# Some columns have minimum value of zero (0) = missing/ invalid data points
print (dataset.describe())

                0           1           2           3           4           5  \
count  768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469   20.536458   79.799479   31.992578
std      3.369578   31.972618   19.355807   15.952218  115.244002    7.884160
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   99.000000   62.000000    0.000000    0.000000   27.300000
50%      3.000000  117.000000   72.000000   23.000000   30.500000   32.000000
75%      6.000000  140.250000   80.000000   32.000000  127.250000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

                6           7           8
count  768.000000  768.000000  768.000000
mean     0.471876   33.240885    0.348958
std      0.331329   11.760232    0.476951
min      0.078000   21.000000    0.000000
25%      0.243750   24.000000    0.000000
50%      0.372500   29.000000    0.000000
75%      0.626250   41.000000    1.000000
max      2.420000   81.000000    1.000000

In [23]:
# col 1-5 are the columns shouldn't contain 0 value
# so counting the numbers of 0 across col 1-5
print ((dataset[[1,2,3,4,5]]==0).sum())

1      5
2     35
3    227
4    374
5     11
dtype: int64

In [31]:
# In Python, specifically Pandas, NumPy and Scikit-Learn, 
# we mark missing values as NaN.

import numpy as np # for using numpy.NaN

# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, np.NaN)

# count the number of NaN values in each column
print(dataset.isnull().sum())

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64

In [32]:
# Method1: Remove rows with missing values
print 'Original dataset:', dataset.shape

# drop rows with missing values
dataset.dropna(inplace = True)
print 'new dataset:', dataset.shape

Original dataset: (768, 9)
new dataset: (392, 9)

In [7]:
dataset.head()

   0      1     2     3      4     5      6   7  8
0  6  148.0  72.0  35.0    NaN  33.6  0.627  50  1
1  1   85.0  66.0  29.0    NaN  26.6  0.351  31  0
2  8  183.0  64.0   NaN    NaN  23.3  0.672  32  1
3  1   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4  0  137.0  40.0  35.0  168.0  43.1  2.288  33  1

In [35]:
# Method2: Impute missing values with fillna()

dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)

# mark zero values as missing or NaN
dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, np.NaN)

# Fill missing values with mean column values
dataset.fillna(dataset.mean(), inplace = True)

# Count the number of NaN values in each column
print (dataset.isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [37]:
# Method3: Impute missing values with scikit-learn 
dataset = pd.read_csv('pima-indians-diabetes.csv', header=None)

# mark zero values as missing or NaN
dataset[[1,2,3,4,5]].replace(0, np.NaN)

# fill missing values
from sklearn.preprocessing import Imputer
values = dataset.values
imputer = Imputer()
transformed_values = imputer.fit_transform(values)

print (np.isnan(transformed_values).sum())

0